@{
    ViewData["Title"] = "Access denied";
}

    <div>
        <h1 class="display-4">Access denied</h1>
        <p>You do not have permission to view the requested page.</p>

        <div class="alert alert-info">
            <strong>Hint</strong> Try logging in as <i>sphere2@0xfred.com</i> if you want to access the admin page.
        </div>
    </div>
