
@{
    ViewData["Title"] = "Index";
}

<h1>User Claims</h1>
<p>These are the claims return from Azure AD B2C for <strong>@User.Identity.Name</strong>.</p>
<p>Azure configuration values are highlighted in yellow and if properly secured would not be passed through to our application.</p>
<p>Any values returned by our Azure Sphere device are highlighted in green. Once again, the debug claim would not normally be exposed.</p>

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th scope="col">Claim</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Security.Claims.Claim c in User.Claims)
        {
            <tr scope="row" class="@(c.Type.StartsWith("azsphere") ? "table-success" : (c.Type.StartsWith("extension") ? "table-warning" : ""))">
                <td>@c.Type</td>
                <td>@c.Value</td>
            </tr>
        }
    </tbody>
</table>