@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This admin page is only accessible if you have successfully passed Multi-Factor Authentication.</p>
</div>
