@{
    ViewData["Title"] = "Admin Page";
}

    <div>
        <h1 class="display-4">Welcome</h1>
        <p>This admin page is only accessible if you have successfully passed Multi-Factor Authentication.</p>

        <div class="alert alert-info">
            <strong>Hint</strong> Try logging in as <i>sphere1@0xfred.com</i> and you won't be able to access this page.
        </div>

    </div>
